/* Start Admin Page Section */
.admin-page {
  padding: 0 50px;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  .add-items {
    padding: 20px 0;
    border-bottom: 1px solid #151f30;
    h2 {
      font-weight: 500;
      text-transform: capitalize;
      font-size: 25px;
    }
    .link-items {
      padding: 12px 30px;
      background-color: #2f80ed;
      color: #ffffff;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 1px;
      transition: 0.3s;
      &:hover {
        background-color: #ffffff;
        color: #131720;
      }
    }
    i {
      background-color: #151f30;
      padding: 13px;
      border-radius: 10px;
      font-size: 14px;
      color: #2f80ed;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: #131720;
        background-color: #ffffff;
      }
    }
  }
  .box {
    @media (max-width: 1200px) {
      margin-bottom: 15px;
    }
    .stats {
      background-color: #151f30;
      padding: 20px;
      border-radius: 15px;
      p {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      span {
        font-size: 30px;
        font-weight: 600;
        color: #2f80ed;
      }
      i {
        color: #2f80ed;
        font-size: 18px;
      }
    }
  }
  .box-table {
    .row {
      padding: 0;
      .items {
        padding: 20px;
        .items-padding {
          background-color: #151f30;
          border-radius: 15px;
          .box-info {
            border-bottom: 1px solid rgb(47 128 237 / 10%);
            .col {
              padding: 15px 25px;
              .info {
                i {
                  color: #2f80ed;
                  margin-right: 10px;
                  &.fa-rotate-right {
                    margin-right: 15px;
                    color: #ffffff;
                    font-weight: 900;
                  }
                }
                span {
                  color: #ffffff;
                  text-transform: capitalize;
                  font-weight: 500;
                  font-size: 14px;
                }
                a {
                  background-color: #131720;
                  color: #ffffff;
                  transition: 0.3s;
                  text-transform: capitalize;
                  font-size: 12px;
                  padding: 8px;
                  border-radius: 50px;
                  &:hover {
                    color: #2f80ed;
                  }
                }
              }
            }
          }
          table {
            color: #ffffff;
            th {
              border-bottom: 1px solid rgb(47 128 237 / 10%);
              text-transform: uppercase;
              font-weight: 500;
              font-size: 12px;
              color: #2f80ed;
            }
            td {
              border-bottom: none;
              font-size: 14px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
/* ENd Admin Page Section */
